<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cars || CarLinlk</title>

    <link th:href="@{~/css/admin.css}" rel="stylesheet">
    <link th:href="@{~/css/settings.css}" rel="stylesheet">
    <link th:href="@{~/css/application.css}" rel="stylesheet">
    <link th:href="@{~/css/car.css}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Suez+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Blinker' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet'>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{~/images/motorcycle-solid.svg}">

    <script th:src="@{~/javascript/carFunctions.js}" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>

</head>
<body>
<nav th:replace="~{fragments/adminNavbar.html :: navBar}"></nav>
<script>
    navItems=document.getElementsByTagName("a");
    for (let i=0; i<navItems.length; i++){
        if (navItems.item(i).classList.contains("active")){
            navItems.item(i).classList.remove("active");
        }
    }
    navItems.item(2).classList.add("active");
</script>
<article>
    <div class="middle" style="min-height: calc(100vh - 262px);">
        <!-- Body -->
        <div class="display-items" style="width: 100%; padding-top: 12px">
            <div class="items-container">
                <div class="topic">
                    <button class="hideDivButton" th:text="'Search Results For: '+${searchTerm}" style="pointer-events: none; height: 44px; margin-bottom: 0"></button>
                </div>
                <div class="items" style="gap: 12px">
                    <div class="item" th:if="${carList.isEmpty()}">
                        <div class="item-image">
                            <img th:src="@{~/images/Carsilhouette.png}">
                        </div>
                        <hr style="width:90%">
                        <div class="car-name" style="margin-top: 20px">Not Found!</div>
                    </div>

                    <div class="item" th:each="car:${carList}">
                        <a th:href="@{~/car/}+${car.id}" style="text-decoration: none">
                            <div class="item-image">
                                <img th:src="'data:image/png;base64,'+${car.carImageBase64}">
                                <div class="image-details">
                                    <h4 style="margin-bottom:14px; margin-top:0">car Specifications:</h4>
                                    <div class="field-container">
                                        <div th:if="${car.category.id==6}" class="headings">Range</div>
                                        <div th:unless="${car.category.id==6}" class="headings">Mileage</div>
                                        <div class="divider"></div>
                                        <div class="data"><u th:text="${car.mileage}"></u></div>
                                    </div>

                                    <div class="field-container">
                                        <div class="headings">Top Speed</div>
                                        <div class="divider"></div>
                                        <div class="data"><u th:text="${car.topSpeed}+' km/hr'"></u></div>
                                    </div>

                                    <div class="field-container">
                                        <div th:if="${car.category.id==6}" class="headings">Motor</div>
                                        <div th:unless="${car.category.id==6}" class="headings">Engine</div>
                                        <div class="divider"></div>
                                        <div class="data"><u th:text="${car.power}"></u></div>
                                    </div>

                                    <div class="field-container">
                                        <div class="headings">Price</div>
                                        <div class="divider"></div>
                                        <div class="data"><u th:text="'Rs. '+${car.priceDay}+' / Day'"></u></div>
                                    </div>
                                </div>
                            </div>
                            <hr style="width:90%">
                            <div class="car-brand" th:text="${car.brandName}"></div>
                            <div class="car-name" th:text="${car.carName}"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
</body>
</html>