<div th:fragment="footer" class="footer" style="margin-top: 0">
  <div class="upper-part">
    <div class="categories" style="flex: 1;">
      <p class="title">Useful Links</p>
      <div class="links">
        <a href="https://www.honda.com.np/" class="category-link" target="_blank">Honda</a>
        <a href="https://nepal.globalbajaj.com/en" class="category-link" target="_blank">Bajaj</a>
        <a href="https://suzukimotorcycle.com.np/" class="category-link" target="_blank">Suzuki</a>
        <a href="https://ngmhero.com/" class="category-link" target="_blank">Hero</a>
        <a href="https://tvsnepal.com/" class="category-link" target="_blank">TVS</a>
        <a href="https://www.ktm.com/en-np.html" class="category-link" target="_blank">KTM</a>
        <a href="https://www.benelli.com/np-en" class="category-link" target="_blank">Benelli</a>
        <a href="https://yatrimotorcycles.com/" class="category-link" target="_blank">Yatri</a>
        <a href="https://vmotosoco.com.np/" class="category-link" target="_blank">Super Soco</a>
      </div>
    </div>

    <div class="divider"></div>

    <div class="description">
      <p class="title">CarLink</p>
      <p class="description">CarLink is a ride renting platform for two-wheelers. On this platform, you can
        view images, view specifications and rent bikes with different plans for any period of time
        from a day to a year.</p>

      <div class="socials">
        <div class="social-link">
          <a target="_blank"><img th:src="@{~/images/social-media/facebook.svg}" alt="Facebook"></a>
        </div>

        <div class="social-link">
          <a  target="_blank"><img th:src="@{~/images/social-media/instagram.svg}" alt="Instagram"></a>
        </div>

        <div class="social-link">
          <a  target="_blank"><img th:src="@{~/images/social-media/LinkedIn.svg}" alt="LinkedIn"></a>
        </div>

        <div class="social-link">
          <a href="https://github.com/abhyasadh" target="_blank"><img th:src="@{~/images/social-media/Github.svg}" alt="Github"></a>
        </div>

      </div>
    </div>

    <div class="divider"></div>

    <div class ="contact">
      <p class="title">Contact Us</p>
      <div class="dropdown-element"><img th:src="@{~/images/contact/phone_outline.svg}" class="element-image" alt="Phone">9841234567, 01-4412345<br></div>
      <div class="dropdown-element"><img th:src="@{~/images/contact/mail.svg}" class="element-image" alt="Mail"><a href="mailto: adhikari.abhyash@gmail.com" style="color: white">adhikari.abhyash@gmail.com</a><br></div>
      <div class="dropdown-element"><img th:src="@{~/images/contact/location_outline.svg}" class="element-image" alt="Location">Dillibazar, Kathmandu<br></div>
    </div>
  </div>




  </div>
</div>