<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link th:href="@{~/css/application.css}" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Suez+One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Blinker' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet'>

  <link rel="shortcut icon" type="image/x-icon" th:href="@{~/images/motorcycle-solid.svg}">

  <title>Error || CarLink</title>
</head>
<body>
<header>
  <div class="head">
    <div class="logo-div" style="flex: 1.5;">
      <a th:href="@{/home}">
        <img th:src="@{~/images/logos/carlink.png}" alt="Logo" class="logo">
      </a>
    </div>
  </div>
</header>
<article>
  <div class="middle">
    <div class="display-items" style="width: 100%">
      <div class="error-container">
        <div class="text">
          <h1>Error 403!</h1>
          <p>Trying to access forbidden pages? We shall send you back to where you came from:</p>
          <a th:href="@{/home}">Back To Home Page</a>
        </div>
        <img th:src="@{~/images/home-images/error.jpg}">
      </div>
    </div>
  </div>
</article>
<footer>

</footer>
</body>
</html>